PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://clinica:clinica123@localhost:27017/fertilidad_auth_dev?authSource=admin

JWT_ACCESS_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_access
JWT_REFRESH_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_refresh
